<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Completed Resume</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<div th:replace="fragments::navbarfragement"></div>
<div>
<!--Person Table-->
    <h2>Person Detail:</h2>



    <!--<h4 th:inline="text"> Image: [[${person.image}]] </h4>
    <img th:src="${person.image}"/>
    -->
    <table>

    <tr>
        <th>Image</th>
    </tr>
        <tr th:each="person : ${persons}">
            <td th:text="${person.image}"></td>

        <img th:src="${person.image}"/>
        </tr>
    <tr>
        <th>Name</th>
    </tr>
    <tr th:each="person : ${person}">
        <td th:text="${person.name}"></td>
    </tr>

    <tr>
        <th>Email</th>
    </tr>
    <tr th:each="person : ${persons}">
        <td th:text="${person.email}"></td>
    </tr>

    <tr>
        <th>Summary</th>
    </tr>
    <tr th:each="person : ${persons}">
        <td th:text="${person.summary}"></td>
    </tr>

    <tr>
        <th>References</th>
    </tr>
    <tr th:each="person : ${persons}">
        <td th:text="${person.reference}"></td>


        <td>
        <a th:href="@{/updatePerson/{id}(id=${person.id})}">Update</a>
        </td>
    </tr>
    </table>

    <h2>Education </h2>
    <table>
        <tr>
            <th>Degree</th>
        </tr>
        <tr th:each="education : ${education}">
            <td th:text="${education.degree}"></td>
        </tr>

        <tr>
            <th>UnivName</th>
        </tr>
        <tr th:each="education : ${education}">
            <td th:text="${education.univName}"></td>
        </tr>
        <tr>
        <th>gradYear</th>
        </tr>
        <tr th:each="education : ${education}">
            <td th:text="${education.gradYear}"></td>

            <td>
                <a th:href="@{/updateEducation/{id}(id=${education.id})}">Update</a>
            </td>
        </tr>
    </table>

    <!--Experience Table-->
    <!--<h2>Education </h2>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="skills : ${skilllist}">
            <td th:text="${person.name}"></td>
        </tr>
    </table>-->

    <!--Skills Table-->
    <!--<h2>Education </h2>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="skills : ${skilllist}">
            <td th:text="${person.name}"></td>
        </tr>
    </table-->

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>